@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.sideBarWrapper {
  display: block;
  transition: all ease-in-out 0.2s;
  width: 20%;
}
.sideBarWrapper {
  @media (max-width: 1200px) {
    position: absolute;
    top: 0px;
    left: 0;
    transition: all ease-in-out 0.2s;
    height: 100vh;
    z-index: 400;
    width: 50% !important;
  }
}

.sideBarWrapper.active {
  position: absolute;
  height: auto;
  z-index: 10;
  left: -500px;
  opacity: 0;
  top: 0px;
  transition: all ease-in-out 0.2s;
  width: 30%;
}
